@import 'psd_values';


#block-numbersstats .field--name-field-paragraphs, #block-skillsblock .field--name-field-paragraphs {
    height: $numberHeight;
    background-color: $rareColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .field__item  {
        height: min-content;
        width: min-content;
        background-color: $rareColor;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;

        .paragraph--type--stats {
        height: 120px;        
        background: none;
        position: relative;
        display: flex;  
        flex-direction: row;
        justify-content: center;
        align-items: center;

            .field--type-fontawesome-icon {
                background: none;
                height: min-content;
                width: min-content;
                justify-self: center;
                align-self: center;
                font-size: 48px;
                color: rgb(255, 255, 255);
                line-height: 0.625;
            }

            .field--name-field-text .paragraph--type--stat-text {
                display: flex;
                margin-left: 20px;
                margin-top: 10px;
                flex-direction: column;
                align-self: center;
                justify-self: flex-start;
                height: min-content;
                width: auto;
                align-content: flex-start;
                justify-content: flex-start;

                .field--name-field-number {

                    background: none;

                    height: min-content;
                    width: min-content;
                    text-justify: left;
                    font-size: 18px;
                    font-family: "Montserrat";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    line-height: 1.667;
                }
          
                .field--name-field-desc {
                    background: none;
                    height: min-content;
                    max-width: 100%;
                    text-justify: left;
                    font-size: 12px;
                    font-family: "Montserrat";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    line-height: 2.5;
                }
            }
            
            @media screen and (max-width: 500px) {
                .field--name-field-text .paragraph--type--stat-text {
                    margin-left: 10px;
                }
            }
        }
    }

    

}

@media screen and (min-width: 993px) {
    #block-skillsblock .field--name-field-paragraphs {
        flex-wrap: nowrap;
        & > .field__item {
            width: calc(100%/6);
        }
    }


}
@media screen and (max-width: 992px) {
    #block-skillsblock .field--name-field-paragraphs {
        & > .field__item {
            min-width: calc(100%/3);
        }
    }


}

@media screen and (max-width: 500px) {
    #block-numbersstats .field--name-field-paragraphs {
        .field--name-field-text .paragraph--type--stat-text {
            margin-left: 10px;
        }
    }
    #block-skillsblock .field--name-field-paragraphs {
        & > .field__item {
            min-width: calc(100%/3);
        }
    }

}